* {
  box-sizing: border-box;
}

body {
  margin: 0 0 30px;
  background-color: #f7f8fc;
  color: #10182f;
}

body, button, input, optgroup, select, textarea {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}