@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

// Set your brand colors
$purple: #8A4D76;
$pink: #FA7C91;

// Update Bulma's global variables
$family-sans-serif: "Roboto", sans-serif;
$grey-light: #f7f8fc;
$link: $purple;
$widescreen-enabled: false;
$fullhd-enabled: false;

// Update some of Bulma's component variables
$body-background-color: $grey-light;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

// Import only what you need from Bulma
@import "../../node_modules/bulma/bulma.sass";
