<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Minecraft Bedrock Server</title>
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">
  <link rel="stylesheet" href="style.css">
  <script src="https://cdn.jsdelivr.net/npm/vue@2.7.14/dist/vue.js"></script>
  <script src="timeago.min.js"></script>
</head>

<body>
  <div class="head">
    <img src="logo.png">
  </div>
  <div id="app" class="content">
    <div class="container">
      <div v-for="w in worlds" class="card">
        <div class="card-header">
          <a :href="`minecraft://?addExternalServer=${w.name}|${hostname}:${w.port}`">
            <h4>{{w.name}}</h4>
            <img :src="`/admin/images/thumbs/map.${String(w.id).substr(0,2)}.jpg`" :alt="w.name" />
          </a>
        </div>
        <div class="card-body">
          <span>
            <span class="tag tag-purple">survival</span>
          </span>
          <p>
            {{w.description}}
          </p>
          <div v-if="w.created" class="user">
            <img
              src="/admin/images/user.2.png"
              alt="user" 
              :style="`background-color: ${imageBackground(w.by)}`"/>
            <div class="user-info">
              <h5>{{w.by}}</h5>
              <small>{{timeago(w.created)}}</small>
            </div>
          </div>
          <div v-else>
            <a href="/admin" class="btn btn-primary">Start</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer>
    <a href="/admin"><img src="craft.png" width="48" alt="creeper"/></a>
  </footer>
  <script>
    const app = new Vue({
      el: '#app',
      data: { 
        worlds: [],
        hostname: location.hostname,
      },
      methods: {
        timeago: (d) => timeago.format(d),
        imageBackground (username) {
          return `hsl(${Math.abs(this.hashCode(username))%359}, 70%, 90%)`; // hsl(250, 69%, 90%),
        },
        hashCode(str) {
          let hash = 0;
          for (let i = 0, len = str.length; i < len; i++) {
              let chr = str.charCodeAt(i);
              hash = (hash << 5) - hash + chr;
              hash |= 0; // Convert to 32bit integer
          }
          return hash;
        }
      },
      async mounted() {
        this.worlds = await fetch('/api/world').then(r => r.json());
        if (!this.worlds.length) {
          this.worlds.push({
            id: '--',
            name: 'No worlds created',
            description: 'Please create some worlds for people to play with. You\'ll need your username and password.',
            port: 'blank',
            by: 'nobody'
          });
        }
      },
    });
    </script>
</body>

</html>