@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  box-sizing: border-box;
}
body {
  margin: 0 0 30px;
  background-color: #f7f8fc;
  font-family: "Roboto", sans-serif;
  color: #10182f;
}
.head {
  margin: 20px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.head img {
  width: 400px;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  display: flex;
  width: 1040px;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.card {
  position: relative;
  margin: 10px 10px 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  width: 300px;
}
.card-header img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.card-header h4 {
  font-size: 1.4em;
  position: absolute;
  top: 133px;
  color: white;
  margin: 20px;
  text-shadow: 0 2px 2px black, 0 -2px 3px black, 0 1px 3px black;
}
.card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  min-height: 210px;
}
.card-body p {
  font-size: 0.9em;
  margin: 25px 0;
}

.tag {
  background: #cccccc;
  border-radius: 50px;
  font-size: 12px;
  margin: 0;
  color: #fff;
  padding: 4px 10px;
  text-transform: uppercase;
  display: inline-box;
  cursor: pointer;
}
.tag-teal {
  background-color: #47bcd4;
}
.tag-purple {
  background-color: #5e76bf;
}
.tag-pink {
  background-color: #cd5b9f;
}

.user {
  display: flex;
  margin-top: auto;
}

.user img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-right: 10px;
}
.user-info h5 {
  margin: 0;
}
.user-info small {
  color: #545d7a;
}
.btn {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #ddd;
  cursor: pointer;
  text-decoration: none;
  transition: border-color 0.25s;
}
.btn-primary {
  background-color: #285dc0;
  color: #fff;
}
.btn-success {
  background-color: #3a8b46;
  color: #fff;
}
.btn:hover {
  border-color: #646cff;
}
.btn:focus,
.btn:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
footer {
  text-align: center;
  margin: 40px;
}
footer a img {
  opacity: 0.6;
  filter:grayscale(1);
}
footer a:hover img {
  opacity: 0.9;
  filter:none;
}
@media all and (max-width: 480px) { 
  .head img {
    width: 90%;
  }
}
